.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}


.hero-section {
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 3rem; /* Equivalent to my-5 (margin y-axis) */
}

.hero-section img {
  border-radius: 8px;
}

.hero-section h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #343a40; /* Dark gray color */
  margin-bottom: 1rem; /* Equivalent to mb-3 */
}

.hero-section p {
  font-size: 1.1rem;
  color: #6c757d; /* Muted gray color */
}

/* Optional: Responsive Image Adjustments */
@media (max-width: 768px) {
  .hero-section img {
    max-height: 250px;
  }
}

